# Python
__pycache__/
*.pyc

# Virtual environments
venv/
.env/
.vscode/
.venv/

# Logs
*.log

# Editor files
*.swp
*.swo
*.orig

# Workspace Files
*.code-workspace
checklist*.md
CHECKLIST*.md

# Packaging Files
libs/
dist/
build/
*.tar.gz

# External Graphic files
svg/