# Python
__pycache__/
*.pyc
.pytest_cache

# Virtual environments
venv/
.env/
.vscode/
.venv/

# Logs
*.log

# Editor files
*.swp
*.swo
*.orig

# Workspace Files
*.code-workspace
checklist*.md
CHECKLIST*.md

# Packaging Files
libs/
dist/
build/
*.tar.gz
/*.spec

# External Graphic files
svg/

# temporary txt files
hourly.txt
weekly.txt